<p id="notice"><%= notice %></p>

<p>
  <b>Table number:</b>
  <%= @order.table_num %>
</p>

<table class="CSSTableGenerator">
  <tr>
    <th>Item</th>
    <th>Price</th>
  </tr>

  <% @order.get_items.each_with_index do |item, index| %>
      <tr>
        <td style="text-align:left"><%= item %></td>
        <td><%= @order.get_prices[index] %></td>
      </tr>
  <% end %>

</table>

<p>
  <b>Total:</b>
  <%= @order.total %>
</p>


<%= link_to 'Back', orders_path %>
