<p id="notice"><%= notice %></p>

<p>
  <b>Table num:</b>
  <%= @order.table_num %>
</p>

<p>
  <b>Items:</b>
  <%= @order.items %>
</p>

<p>
  <b>Prices:</b>
  <%= @order.prices %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
